body,
html {
    height: 100%;
    width: 100%;
}

a {
    outline: none;
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 100%;
    background: url(https://images.pexels.com/photos/1559117/pexels-photo-1559117.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#m {
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.5em;

}

.button {
    color: rgba(255, 255, 255, .6);
    margin-top: 75px;
    border-radius: 10px;
    padding: 12px;
    height: 20px;
    line-height: 20px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    font-size: .6em;
}

.button2 {
    text-align: center;
    padding: 12px;
    height: 20px;
    line-height: 20px;
    background: white;
    font-weight: bold;
    margin: 10px;
    color: #2a3a37;
}

#s1 {
    width: 100%;
    height: 250px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#cdn {
    background: #f8f8f8;
    height: 80%;
    width: 70%;
    border-radius: 15px;
}

.cdn-link {
    color: #0093ff;
}

#s2 {
    width: 100%;
    height: 300px;
    background: url(https://images.pexels.com/photos/1121782/pexels-photo-1121782.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    display: flex;
    align-items: center;
    justify-content: center;
}



/* library zone */

:root {
    --shade: white;
}

/* glass */
/* looks good with all images and colors except black */

.glass {
    border-radius: 15px;
    background: linear-gradient(to right, rgba(226, 226, 226, 0) 0%, rgba(254, 254, 254, .3) 23%, rgba(228, 228, 228, .3) 80%, rgba(219, 219, 219, 0) 100%);
    box-shadow: 5px 10px 15px 3px rgba(1, 1, 1, .5);
}

/* foggy glass */

/* give the element a backgroud image, same as body background for fog effect */
/* use background-image, not background so that background-attachment: fixed works */

.foggy-glass {
    border-radius: 15px;
    background: inherit;
    box-shadow: 5px 10px 15px 3px rgba(1, 1, 1, .5);
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
}

.foggy-glass:before {
    content: "";
    position: absolute;
    right: -10px;
    top: 0px;
    z-index: 0;
    background: inherit;

    display: block;
    width: 102%;
    height: 102%;

    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}

.foggy-glass>* {
    z-index: 1;
}

/* mirror */

/* change :root --shade to your color */
/* only works with solid background color */
/* if there is a slim visible line, ajust the elements width */

.mirror {
    position: relative;
    z-index: 3;
}

.mirror:after {
    color: inherit;
    z-index: 1;
    background-color: inherit;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    transform: scaleY(-1);
    opacity: .8;
}

.mirror:before {
    z-index: 2;
    background: linear-gradient(to bottom, rgba(1, 1, 1, .4), var(--shade), var(--shade));
}

.mirror:after,
.mirror:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    bottom: -100%;
}

/* mirror text */


.mirror-text {
    position: relative;
    line-height: 0.8;
}

.mirror-text:after {
    color: inherit;
    line-height: inherit;
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    display: block;
    content: attr(data-content);
    transform: scaleY(-1);
    opacity: .6;
    font-size: inherit;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 35%, currentColor 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}