@import url('https://fonts.googleapis.com/css?family=Text+Me+One');

body,
html,
main {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Text Me One', sans-serif !important;
}

a {
    color: inherit;
    text-decoration-color: #bd3149 !important;
}


#nav {
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url(https://images.pexels.com/photos/248091/pexels-photo-248091.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: top;
	background-size:cover;
    border-radius: 0px;
}

.sec {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    min-height: 40px;
    line-height: 60px;
    position: relative;
    background-color: #df354e;
    color: powderblue;
}

#body {
    height: auto;
    max-height: 100%;
    overflow-y: scroll;
}


.block {
    margin-top: 5px;
    padding: 50px;
    border-bottom: 1px solid silver;
    min-height: 400px;
    height: auto;
    width: 100%;
    text-align: center;
}

.i {
    color: lightcoral;
    font-style: italic;
}

#mirror-image {
    background-image: url(https://images.pexels.com/photos/1640076/pexels-photo-1640076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    width: 61%;
    height: 300px;
    margin: auto;
    margin-bottom: 300px;
}

.tips{
	cursor:pointer;
	display:none;
	height:auto;
	width:100%;
	text-align:center;
}

.tips:focus{
	display:block;
}