#nav {
    height: 100%;
    top: 0px;
    left: 0px;
    /* background-color: purple; */
    background-image: url(https://images.pexels.com/photos/1292344/pexels-photo-1292344.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center;
}

#body {
    height: auto;
    max-height: 100%;
    overflow-y: scroll;
}


.block {
    margin-top: 5px;
    border-bottom: 1px solid silver;
    height: auto;
    min-height: 400px;
    width: 100%;
}